nav {
color: white;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logo {
  background-color: purple;
  color: white;
  display: flex;
  padding: ;
  font-size: 50px;
  }

.topnav {
  background-color: black;
  color: white;
  display: flex;
  list-style-type: none;
  padding: 30px;
}

.Login {
  background-color: black;
  color: white
  padding: px;
}






