nav {
color: white;
}

.Logo {
  background-color: #333;
  color: white;
}

.topnav {
  background-color: #333;
  color: white;
}

.Login {
  background-color: #333;
  color: white
}

.Search {
  background-color: #333;
  color: white
}

.icon {
  background-color: #333;
  color: white
}